<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.my.dao.AuthGroupAccessMapper">
  <resultMap id="BaseResultMap" type="com.cn.my.bean.AuthGroupAccess">
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
  </resultMap>
  <insert id="insert" parameterType="com.cn.my.bean.AuthGroupAccess">
    insert into t_auth_group_access (uid, group_id)
    values (#{uid,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.my.bean.AuthGroupAccess">
    insert into t_auth_group_access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>