<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.my.dao.DiyPageMapper">
  <resultMap id="BaseResultMap" type="com.cn.my.bean.DiyPage">
    <id column="conid" jdbcType="INTEGER" property="conid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_diy_page
    where conid = #{conid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.my.bean.DiyPage">
    insert into t_diy_page (conid)
    values (#{conid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.my.bean.DiyPage">
    insert into t_diy_page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="conid != null">
        conid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="conid != null">
        #{conid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>