<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.my.dao.FormconMapper">
  <resultMap id="BaseResultMap" type="com.cn.my.bean.Formcon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fid" jdbcType="INTEGER" property="fid" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="istop" jdbcType="BIT" property="istop" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="look" jdbcType="BIT" property="look" />
  </resultMap>
  <sql id="Base_Column_List">
    id, fid, vid, istop, create_time, update_time, ip, look
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_formcon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_formcon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.my.bean.Formcon">
    insert into t_formcon (id, fid, vid, 
      istop, create_time, update_time, 
      ip, look)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, 
      #{istop,jdbcType=BIT}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{ip,jdbcType=VARCHAR}, #{look,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.my.bean.Formcon">
    insert into t_formcon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fid != null">
        fid,
      </if>
      <if test="vid != null">
        vid,
      </if>
      <if test="istop != null">
        istop,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="look != null">
        look,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="istop != null">
        #{istop,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="look != null">
        #{look,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.my.bean.Formcon">
    update t_formcon
    <set>
      <if test="fid != null">
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="istop != null">
        istop = #{istop,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="look != null">
        look = #{look,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.my.bean.Formcon">
    update t_formcon
    set fid = #{fid,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      istop = #{istop,jdbcType=BIT},
      create_time = #{createTime,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      look = #{look,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>