<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.my.dao.FormDemoMapper">
  <resultMap id="BaseResultMap" type="com.cn.my.bean.FormDemo">
    <id column="conid" jdbcType="INTEGER" property="conid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cn.my.bean.FormDemo">
    <result column="yuanwang" jdbcType="LONGVARCHAR" property="yuanwang" />
  </resultMap>
  <sql id="Base_Column_List">
    conid, name, phone
  </sql>
  <sql id="Blob_Column_List">
    yuanwang
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_form_demo
    where conid = #{conid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_form_demo
    where conid = #{conid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.my.bean.FormDemo">
    insert into t_form_demo (conid, name, phone, 
      yuanwang)
    values (#{conid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, 
      #{yuanwang,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.my.bean.FormDemo">
    insert into t_form_demo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="conid != null">
        conid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="yuanwang != null">
        yuanwang,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="conid != null">
        #{conid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="yuanwang != null">
        #{yuanwang,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.my.bean.FormDemo">
    update t_form_demo
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="yuanwang != null">
        yuanwang = #{yuanwang,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where conid = #{conid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.my.bean.FormDemo">
    update t_form_demo
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      yuanwang = #{yuanwang,jdbcType=LONGVARCHAR}
    where conid = #{conid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.my.bean.FormDemo">
    update t_form_demo
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER}
    where conid = #{conid,jdbcType=INTEGER}
  </update>
</mapper>